<link rel="stylesheet" type="text/css" href="/css/admin_profile.css">
<div class="main-container">
    <!-- <div class="title-edit">
        <h1>
            <%= title %>
        </h1>
    </div> -->
    <% if(locals.user){ %>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">

                            <a class="nav-link " href=" /admin/add-inventory">Add Inventory <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href=" /admin/search">Search Inventory <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href=" /admin/selldata">Selling Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" /admin/staff-sign-up">Staff Details</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" /admin/doctor-sign-up">Doctor Details</button></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="title-edit">
                        <h1>Add Inventory</h1>
                    </div>

                    <div class="form-container">
                        <form action="/inventory/add" method="POST">
                            <div class="form-style">
                                <input class="form-style-place" type="text" name="medicine_id" placeholder="Medicine ID"
                                    required>
                                <input class="form-style-place" type="text" name="name" placeholder="Name" required>
                                <input class="form-style-place" type="date" name="exp_date" placeholder="Expiry Date"
                                    required>
                                <input class="form-style-place" type="number" name="stock" placeholder="Stock Unit"
                                    required>
                                <input class="form-style-place" type="number" name="price" placeholder="Price" required>
                                <input class="form-style-place" type="number" name="discount" placeholder="Discount"
                                    required>
                                <input class="form-style-place" type="number" name="gst" placeholder="GST" required>
                                <input class="enter" type="submit" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <table border="1" style="text-align: center;">
                        <thead>
                            <th>Sno.</th>
                            <th>Medicine ID</th>
                            <th>Name</th>
                            <th>Stock</th>
                            <th>Price(per Unit)</th>
                            <th>Discount</th>
                            <th>GST</th>
                            <th>Expiry Date</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <% let i=1 %>
                                <% for(info of data){%>
                                    <tr>
                                        <td>
                                            <%= i %>
                                        </td>
                                        <td>
                                            <%= info.medicine_id %>
                                        </td>
                                        <td>
                                            <%= info.name%>
                                        </td>
                                        <td>
                                            <%= info.stock %>
                                        </td>
                                        <td>
                                            Rs. <%= info.price %>
                                        </td>
                                        <td>
                                            <%= info.discount %> %
                                        </td>
                                        <td>
                                            <%= info.gst %> %
                                        </td>
                                        <td style="<%=checkExpiration(info.exp_date) %>">
                                            <%= new Date(info.exp_date).toLocaleDateString('en-US', { year: 'numeric' ,
                                                month: 'short' , day: 'numeric' }) %>
                                        </td>
                                        <td><a href="/admin/destroy/<%= info.id %>"><img src="/images/delete.png"></a>
                                        </td>
                                    </tr>
                                    <%i++ } %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>



        <% } %>

</div>
<script>
           <% function checkExpiration(expDate) {
        var currentDate = new Date();
        var expirationDate = new Date(expDate);
        var timeDifference = expirationDate - currentDate;
        var daysUntilExpiration = Math.floor(timeDifference / (1000 * 60 * 60 * 24));

        if (daysUntilExpiration < 0) {
            return " background-color: red;";
        } else if (daysUntilExpiration <= 30) {
            return "background-color: orange;";
        } else { return ""; }
    } %>

        $(document).ready(function () {
            $('#dropdownToggle').click(function () {
                $('.dropdown-menu').toggle(); // Toggle the display of the dropdown menu
            });
        });
</script>