<link rel="stylesheet" type="text/css" href="/css/book_appointment.css">
<div class="main-container">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item ">

                        <a class="nav-link " href="/appointment/patient">Book Appointment <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">

                        <a class="nav-link" href="/appointment/doctor-details">Doctor Details<span
                                class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="title-edit">
            <h1>Doctor Details</h1>
        </div>
        <div id="doctor-details">
            <table border="1" style="text-align: center;">
                <thead>
                    <th>Sno.</th>
                    <th>Name</th>
                    <th>Contact Number</th>
                    <th>Qualification</th>
                    <th>Specialization </th>
                    <th>Experience (in years) </th>
                    <th>Timings</th>
                </thead>
                <tbody>

                    <%if(doctor){ let i=1 %>
                        <% for(info of doctor){ let s_am_pm='' ,e_am_pm='' ;%>
                            <% let start_time=info.timings,end_time=parseInt(info.timings)+6;s_am_pm='AM' ,e_am_pm='AM'
                                %>
                                <% if(start_time>=12){start_time=start_time%12,
                                    s_am_pm='PM';}if(end_time>12){end_time=end_time%12,e_am_pm='PM';}%>
                                    <% %>
                                        <tr>
                                            <td>
                                                <%= i %>
                                            </td>
                                            <td>
                                                <%= info.name %>
                                            </td>
                                            <td>
                                                <%= info.mobile%>
                                            </td>
                                            <td>
                                                <%= info.education %>
                                            </td>
                                            <td>
                                                <%= info.specialization %>
                                            </td>
                                            <td>
                                                <%= info.experience %>
                                            </td>
                                            <td>
                                                <%= start_time + " " + s_am_pm%> - <%= end_time + " " + e_am_pm%>
                                            </td>
                                        </tr>
                                        <% i++;} %>
                                            <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>