<link rel="stylesheet" type="text/css" href="/css/staff_profile.css">
<% if(locals.user){ %>
    <div class="main-container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">

                        <a class="nav-link" href=" /staff/update">Sell Medicine <span
                                class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item ">

                        <a class="nav-link" href=" /staff/search">Search Inventory <span
                                class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item ">

                        <a class="nav-link" href=" /staff/patient">View Patient <span
                                class="sr-only">(current)</span></a>
                    </li>


                </ul>
            </div>
        </nav>




        <div class="container-fluid">
            <div class="row">
                <div class="col">

                    <div class="title-edit">
                        <h3>Sell Medicine</h3>
                    </div>

                    <div class="form-container">
                        <div class="form-container">
                            <form action="/inventory/drop" method="POST">
                                <div class="input-set">
                                    <input class="form-style-place" type="text" name="buyer_name"
                                        placeholder="Buyer's Name" required>
                                    <input class="form-style-place" type="tel" name="mobile_number"
                                        placeholder="Mobile Number">

                                </div>
                                <div class="input-set">
                                    <input class="form-style-place" type="text" name="buyer_email"
                                        placeholder="Email Address">
                                    <input class="form-style-place" type="tel" name="address" placeholder="Address">

                                </div>
                                <div class="input-set">
                                    <input class="form-style-place" type="text" name="doctor_name"
                                        placeholder="Prescribed By">
                                    <select class="form-style-place" name="payment_mode" required>
                                        <option value="" disabled selected hidden>Payment Mode</option>
                                        <option value="Cash">Cash</option>
                                        <option value="Card">Card</option>
                                        <option value="UPI">UPI</option>
                                    </select>

                                </div>


                                <div class="horizontal"></div>
                                <div class="form-style" id="inputFieldsContainer">
                                    <div class="input-set">
                                        <div class="medicine-tag">
                                            <h4>Medicine ID</h4>
                                        </div>
                                        <div class="medicine-tag">
                                            <h4>Unit Sell</h4>
                                        </div>
                                    </div>
                                    <div class="input-set">

                                        <div class="autocomplete" style="width:300px;">
                                            <input class="form-style-place" type="text" id="searchname"
                                                name="Medicine_name" placeholder="Medicine Name" autocomplete="off">
                                        </div>

                                        <input class="form-style-place" type="number" name="Stock"
                                            placeholder="Unit Sell">
                                        <input class="form-style-place" type="text" name="Medicine_id"
                                            placeholder="Medicine ID">

                                        <!-- <button type="button" class="deleteInputField"><img
                                                src="/images/delete.png"></button> -->
                                    </div>
                                    <!-- Dynamic input fields -->
                                    <div class="input-set">
                                        <button type="button" class="enter" id="addInputField">Add Item</button>
                                        <!-- </div>
                                    <div class="input-set"> -->
                                        <button class="enter" type="submit">Update</button>
                                    </div>
                                </div>
                                <div class="input-set">


                                    <!-- <input class="form-style-place" type="text" name="medicine_id[]"
                                        placeholder="Medicine ID" required>

                                    <input class="form-style-place" type="number" name="stock[]" placeholder="Unit Sell"
                                        required>
                                    <button type="button" class="deleteInputField"><img
                                            src="/images/delete.png"></button> -->
                                </div>

                                <!-- More dynamically added fields go here -->
                            </form>

                        </div>

                    </div>
                </div>
                <div class="col">
                    <button class="enter" id="downloadPDFButton">Download Bill</button>
                    <table border="1" style="text-align: center;">
                        <thead>
                            <th>Sno.</th>
                            <th>Medicine ID</th>
                            <th>Name</th>
                            <th>Stock</th>
                            <th>Price(per Unit)</th>
                            <th>Expiry Date</th>
                        </thead>
                        <tbody>
                            <% let i=1%>
                                <% for(info of data){%>
                                    <tr>
                                        <td>
                                            <%= i++ %>
                                        </td>
                                        <td>
                                            <%= info.medicine_id %>
                                        </td>
                                        <td>
                                            <%= info.name%>
                                        </td>
                                        <td>
                                            <%= info.stock %> U
                                        </td>
                                        <td>
                                            Rs. <%= info.price %>
                                        </td>
                                        <td style="<%=checkExpiration(info.exp_date) %>">
                                            <%= new Date(info.exp_date).toLocaleDateString('en-US', { year: 'numeric' ,
                                                month: 'short' , day: 'numeric' }) %>
                                        </td>
                                    </tr>
                                    <% } %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>

    <% } %>
        <script>
        <% function checkExpiration(expDate) {

                var currentDate = new Date();
                var expirationDate = new Date(expDate);
                var timeDifference = expirationDate - currentDate;
                var daysUntilExpiration = Math.floor(timeDifference / (1000 * 60 * 60 * 24));

                if (daysUntilExpiration < 0) {
                    return " background-color: red;";
                } else if (daysUntilExpiration <= 30) {
                    return "background-color: orange;";
                } else { return ""; }
            }
                %>


                // Use jQuery to add a click event handler to the button

                $(document).ready(function () {
                    $('#downloadPDFButton').click(function () {
                        const userId = '<%= user._id %>';
                        window.open(`/inventory/download-pdf/${userId}`, '_blank');
                    });
                    var arr = [];
                    var medicine_details = [];
        <% for (info of data) { %>
                        arr.push('<%= info.name %>');
                        medicine_details.push({ name: '<%= info.name %>', id: '<%= info.medicine_id %>' });
        <% } %>

                        // console.log(medicine_details);
                        // console.log(arr);
                        autocomplete(document.getElementById("searchname"), arr, medicine_details);
                });


        </script>
        <script src="/js/sell.js"></script>